*:focus {
  outline: 0 !important;
}
.center {
  margin: auto;
  width: 50%;
  display: flex;
  align-items: center;
}

.card {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 16px;
  border-radius: 2px;
  text-align: center;
  margin-left: 15px;
}

.card:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(240, 180, 89);
}

.product-img {
  width: 100%;
  border-radius: 3px 3px 3px 3px;
  height: 130px;
}

.container {
  padding: 2px 16px;
}

.col {
  float: left;
  width: 30%;
  padding: 10px 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.margin {
  margin-top: 5vh;
}
.cart-table {
  border: black solid 1px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 black;
}
.cart-table th {
  background-color: rgb(4, 4, 94);
  color: aliceblue;
  font-size: 20px;
  padding: 10px;
}
.cart-table td {
  border-bottom: rgb(192, 190, 190) solid 1px;
  color: rgb(4, 4, 94);
}

.cart-table button {
  color: rgb(253, 253, 252);
  background-color: rgb(238, 130, 8);
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  border-color: none;
  box-shadow: 0 2px 5px 0 rgb(8, 8, 8);
  border: none;
  cursor: pointer;
}

.price-tag {
  margin-bottom: 0px;
  padding: 0px;
  color: grey;
  text-decoration: line-through;
  opacity: 0.6;
}
.offer-price-tag {
  margin: 0px;
  padding: 0px;
}

.add-cart,
.buy-now {
  margin-top: 15px;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: rgb(4, 4, 71);
  color: whitesmoke;
  box-shadow: 0 2px 5px 0 rgb(155, 150, 150);
}
.add-cart {
  cursor: pointer;
}
.add-cart:hover {
  background-color: whitesmoke;
  color: rgb(4, 4, 71);
}
.product-name {
  margin: 0px;
}

.product-id {
  margin: 3px 0px 5px 0px;
  color: grey;
  font-size: 12px;
}

.cart-table-col {
  text-align: center;
}
.empty-cart {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  padding: 16px;
  border-radius: 2px;
  text-align: center;
  align-content: center;
  margin-left: 15px;
  width: 90%;
}
.empty-cart:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(187, 170, 144);
  color: white;
}
