.nav {
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: rgb(85, 81, 81);
  margin-bottom: 10px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.navbar li {
  float: left;
}
.navbar li:hover {
  background-color: cadetblue;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.fa-shopping-cart {
  color: white;
}
.cart-count {
  padding-left: 5px;
}
.welcome {
  height: 500px;
  margin: auto;
  width: 50%;
}
.welcome_image {
  margin-top: 10px;
  width: 100%;
}
.active {
  background-color: rgb(211, 131, 11);
}
